<h1>A list of users</h1>

<div class="users-container">
  <% @users.each do |user| %>
    <div class="user-box">
      <div class="profile-pic-container">
        <img src=<%user[:photo]%> class="user-image" alt="user">
      </div>
      <h2 class="user-name"><%= user[:name] %></h2>
      <p class="posts-counter">Number of posts: <%= user[:posts_counter] %> </p>
    </div>
  <% end %>  
</div>