<main>

  <%= link_to user_path(@user) do%>
    <button type="button" class="return-button">Return</button>
  <%end%>

  <%= render "users/card"%>

  <% if current_user.id = @user[:id]%> 
    <%= link_to new_user_post_path(@user) do%>
      <button class="new-post-button">New post</button>
    <%end%>
  <%end%>

  <section class="posts-list">
    <% @posts.each do |post| %>
      <%@post = post%>
      <%= render "posts/post"%>
    <%end%>
    <div class="pagination-buttons">
      <button type="button">Prev</button>
      <button type="button">Next</button>
    </div>
  </section>
  
</main>
