<main>

  <section>
    <h2 class="section-header">New post</h2>

    <%= render "form", post: @post %>

    <%= link_to user_posts_path do%>
      <button class="new-post-return">Back to profile</button>
    <%end%>
  </section>

</main>