$black: rgb(20, 20, 20);

.return-button {
  margin-bottom: 2rem;
}

.post-container-small {
  border: black solid 1px;
  margin: 1rem 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.title-button {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.see-more-button {
  margin: auto;
}
