@import 'variables.scss';

.single-post-comments h2 {
  margin-bottom: 1rem;
}

.counters {
  display: flex;
  align-items: center;
}

.counters> :last-child {
  margin-left: auto;
}

.action-container {
  display: flex;
  gap: 1rem;
}