@import 'variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $poppins;
}

body {
  background: linear-gradient(rgb(218, 250, 255), rgb(162, 133, 221), rgb(243, 155, 129));
  min-height: 100vh;
  color: $black;
}

main {
  width: 95%;
  max-width: 800px;
  min-width: 300px;
  margin: 8rem auto 8rem auto;
  display: flex;
  flex-direction: column;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;

  &:hover {
    opacity: 0.9;
    color: $dark-purple;
  }
}

button {
  border: black solid 1px;
  background: none;
  padding: 0.5rem;
  color: black;
  border-radius: 5px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: rgba(255, 255, 255, 0.613) solid 1px;
  border-radius: 5px;
  background: linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.076));
}

input {
  background: none;
  border: rgba(255, 255, 255, 0.576) solid 1px;
  border-radius: 0.25rem;
}

textarea {
  background: none;
  border: rgba(255, 255, 255, 0.629) solid 1px;
  border-radius: 0.25rem;
}

.shadow {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.225);
}

.user-card {
  border: rgba(255, 255, 255, 0.621) solid 1px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.user-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.user-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
  outline: $black solid 1px;
  outline-offset: 2px;
  transition: 0.2s;

  &:hover {
    opacity: 0.9;
  }
}

.user-name {
  color: $black;
}

.posts-counter {
  color: $black;
  margin: auto 0 0 auto;
}