@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

// fonts

$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Slab', serif;

// colors

$black: rgb(37, 37, 37);
$red: rgb(244, 91, 91);
$dark-blue: rgb(37, 60, 104);
$mid-blue: rgb(48, 80, 141);
$light-blue: rgb(70, 122, 225);
$dark-gray: #2f2f2f;
$dark-purple: rgb(98, 57, 117);
$light-gray: rgb(183, 183, 183);
$orange: #ff9183;
$yellow: rgb(255, 220, 120);
$blue: rgb(47, 164, 238);
